.header {
  @include position (fixed, 0, null, null, 0);
  display: flex;
  align-items: center;
  width: 100%;
  height: 86px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;

  &_logo {
    &_area {
      flex: 1;
    } // .header_logo_area

    &_link {
      display: inline-block;
      padding: 15px;
      vertical-align: top;
      color: #000;
      font-size: 30px;
      font-weight: bold;
    } // .header_logo_link
  }

  &_nav {
    &_area {
      &.on .dimmed {
        @media screen and (min-width: 548px) {
          display: none;
        }
      }
    } // .header_nav_area

    &_button {
      display: block;
      position: relative;
      @include sprite($icon_menu);

      @media screen and (min-width: 548px) {
        display: none;
      }
    } // .header_nav_button

    &_list {
      @media screen and (max-width: 547px) {
        display: none;

        @at-root .on & {
          @include position (absolute, -10px, 0);
          padding: 20px;
          box-sizing: border-box;
          display: block;
          width: 250px;
          min-height: calc(100vh + 10px);
          background-color: #fff;
          z-index: 250;
        }
      }

      @media screen and (min-width: 548px) {
        display: flex;
      }
    } // .header_nav_list

    &_close_button {
      display: none;

      @at-root .on & {
        display: block;
        @include position (absolute, 0, 250px);
        @include sprite ($icon_close);
        z-index: 250;

        @media screen and (min-width: 548px) {
          display: none;
        }
      }
    } // .header_nav_close_button

    &_item {
      @media screen and (min-width: 548px) {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    } // .header_nav_item

    &_link {
      position: relative;
      display: inline-block;
      padding: 15px;
      vertical-align: top;
      color: #000;
      width: 100%;
      box-sizing: border-box;

      @at-root .active & {
        .header_nav_text::after {
          width: 100%;
        }
      }

      @media screen and (min-width: 548px) {
        width: auto;
      }

      &:hover {
        .header_nav_text::after {
          width: 100%;
        }
      }
    } // .header_nav_link

    &_num {
      display: block;
      font-size: 14px;
      font-weight: lighter;
    } // .header_nav_num

    &_text {
      position: relative;

      &::after {
        @include position (absolute, null, -2px, null, 0);
        display: block;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: width .4s;
        content: '';
      }
    } // .header_nav_text
  }
}